.blog-post .featured-image img {
  transition: all 1s cubic-bezier(0.104, 0.204, 0.492, 1);
}


.blog-post {
  margin-bottom: 50px;
}

.blog-post .featured-image {
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: var(--ratio-percent);
}

.blog-post .featured-image>a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-post .featured-image>a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-post .featured-image>a .thb-placeholder {
  background: rgba(var(--color-body-rgb), 0.03);
  width: 100%;
  height: 100%;
}

.blog-post .featured-image>a .thb-placeholder svg {
  fill: var(--color-accent);
}

.blog-post .featured-image>a:hover img,
.blog-post .featured-image>a:focus img {
  transform: scale(1.05);
}

.blog-post .featured-image img {
  display: block;
  will-change: scale;
}

.blog-post h2 {
  margin-bottom: 10px;
  font-size: 38px;
}

.blog-post .post-meta {
  font-size: 14px;
  color: var(--color-body);
  margin-bottom: 5px;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 400;
}

.blog-post .post-excerpt {
  font-size: 20px;
}

.blog-post--large {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .blog-post--large .featured-image {
    width: 100%;
    max-width: 66%;
    padding-bottom: var(--ratio-percent-medium);
  }

  [dir="rtl"] .blog-post--large .featured-image {
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .blog-post--content {
    border: 1px solid var(--color-border);
    padding: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--bg-body, #fff);
    max-width: 500px;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1068px) {
  .blog-post--content {
    min-width: 500px;
    max-width: 100%;
    width: calc(33.9% + 50px);
  }
}

@media only screen and (max-width: 767px) {
  .blog-posts.swipe-on-mobile .row {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(var(--mobile-swipe-width), 1fr);
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(var(--mobile-swipe-width), 1fr));
    width: 100%;
    padding: 0 15px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .blog-posts.swipe-on-mobile .row::-webkit-scrollbar {
    display: none;
  }

  .blog-posts.swipe-on-mobile .row .columns {
    scroll-snap-stop: always;
    padding: 0;
  }
}

.blog-posts .rte {
  margin: 0;
  font-size: 20px;
  line-height: normal;
}

.blog-posts .section-header--button .text-button {
  font-size: 18px;
  line-height: 14px;
}

.blog-post .text-button {
  font-size: 23px;
  line-height: 17px;
}

@media screen and (min-width: 768px) {
  .blog-posts .section-header--button .text-button {
    font-size: 22px;
    line-height: 14px;
  }
}