#location-redirect-message {
  z-index: 9;
  display: none;
  padding: 20px;
  background-color: var(--redirect-bg-color);
  color: var(--redirect-color);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 16px;
  width: 100%;
  z-index: 1000
}

#location-redirect-message a {
  color: var(--redirect_link_color);
}

#location-redirect-message a:hover {
  color: var(--redirect_link_hover_color);
}

#location-redirect-popup {
  padding: 5px 20px;
  color: var(--color-body);
}

#location-redirect-popup img {
  max-width: 100%;
}

#location-redirect-popup .buttons-container {
  text-align: center;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  #location-redirect-popup .buttons-container {
    flex-wrap: wrap;
    gap: 10px;
  }
}

#location-redirect-popup a.button-yes {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  background: var(--redirect_popup_yes_color);
  color: var(--redirect_popup_yes_text_color);
}

#location-redirect-popup a.button-no {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  background: var(--redirect_popup_no_color);
  color: var(--redirect_popup_no_text_color);
}

#location-redirect-popup .buttons-container a {
  font-size: 23px;
  line-height: 23px;
  font-weight: 400;
  padding: 16px 32px;
}

@media screen and (max-width: 768px) {
  #location-redirect-popup .buttons-container a {
    width: 100%;
    font-size: 18px;
  }
}

@media all {
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, .8);
  }

  .featherlight:last-of-type {
    background: rgba(0, 0, 0, .8)
  }

  .featherlight:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }

  .featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
  }

  .featherlight .featherlight-inner {
    display: block
  }

  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    color: #000
  }

  .featherlight .featherlight-image {
    width: 100%
  }

  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0
  }

  .featherlight iframe {
    border: none
  }
}

@media only screen and (max-width:1024px) {
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent
  }
}

.modal-content {
  background-image: var(--redirect_bg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 700px;
  height: 45%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-redirect-wrapper p {
  margin: 0;
}

.location-redirect-wrapper {
  gap: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: ltr;
  text-align: center;
}

.buttons-container {
  justify-content: center;
}

#location-redirect-popup p {
  font-size: 32px;
  line-height: normal;
}